<nav class="navbar navbar-light bg-success">
  <div class="container-fluid">
    <h1 style="color: black;">Magic Of Books</h1>
    <div class="d-flex">
      <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Books
      </button>&nbsp;&nbsp;
      <button style="background-color: darkred; color: white;" routerLink="/login" type="button" class="btn-btn-danger mx-2">
        Log Out
      </button>
    </div>
  </div>
</nav>



<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div style="color: white;" class="text-center">
          <h1>Registration</h1>
          <h6>Please Register Yourself!!</h6>

        </div>
        <form action="">
          <form [formGroup]="signupForm" (ngSubmit)="signUp()">
           
            <div style="color: white;" class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Full Name</label>
              <input formControlName="fullname" type="text" class="form-control" id="exampleInputPassword1">
            </div>

            <div style="color: white;" class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
              <input formControlName="mobile" type="number" class="form-control" id="exampleInputPassword1">
            </div>


            <div style="color: white;" class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div  id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div style="color: white;" class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
          </form>
          <a style="color: white; margin-top: 20px;" routerLink="/login">Already Registered? Click to Login</a>
        </form>
      </div>
    </div>
  </div>
</div> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <p style="font-size: 30px ;"> Please Register Yourself!</p>
    </div>

    <!-- Signup Form -->
    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
      <input formControlName="fullname" type="text" class="form-control" id="exampleInputPassword1" placeholder="Full name">
      <input formControlName="mobile" type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile no">
      <input formControlName="email" type="email" id="login" class="fadeIn second" name="login" placeholder="Email address">
      <input formControlName="password" type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Signup">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#" routerLink="/login">Already Registered? Click to Login</a>
    </div>

  </div>
</div>
